<h1>Virtual Scroll</h1>
<hr>

<div class="row">
    <div class="col">
        <button class="btn btn-primary"
            (click)="irFinal()">
            Ir al final
        </button>
    </div>
    <div class="col text-center">
        <button class="btn btn-warning"
            (click)="irMitad()">
            Ir a la mitad
        </button>
    </div>
    <div class="col text-right">
        <button class="btn btn-secondary"
            (click)="irInicio()">
            Ir al inicio
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="text"
            [(ngModel)]="valorIndex">
        <button class="btn btn-secondary"
            (click)="irIndiceMarcado()">
            Ir al indice marcado
        </button>
    </div>
</div>

<hr>

<!-- Hay que definir una altura fija para el componente que contiene todo el virtual scroll -->
<!-- También hay que definir una altura fija para cada item dentro de la lista, con el itemSize -->
<cdk-virtual-scroll-viewport itemSize="50"
    class="list-container list-group"
    (scrolledIndexChange)="scrollChange($event)">

    <div class="list-group-item bounceInLeft animated"
        *cdkVirtualFor="let persona of personas; let i = index; let c = count">
        Item {{ i }} / {{ c }}
    </div>

</cdk-virtual-scroll-viewport>